.cart {
    width:62.5%;
    padding-top:70px;
    margin:0 auto;
    
    table {
        width:100%;
        caption {display:none;}
        thead {
            tr {border-top:1px solid #000;border-bottom:1px solid #000;}
        }
        tbody {
            tr {border-bottom:1px solid #000;}
        }
    }
}